.page1 {
  position: relative;
  width: 100%;
  background-color: #823513;
  font-family: font1;

  .background,
  .background2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('/background.undefined');
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: 1;
  }

  .background2 {
    background-image: url('/texture.avif');
    opacity: 0.3;
    z-index: 0;
  }

  .container {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 700vh;
    z-index: 9;

    .canvasContainer {
      width: 100%;
      height: 100vh;
      position: sticky;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
      display: flex;
      justify-content: center;
      overflow-x: clip;

      #frame {
        width: 100%;
        height: 100vh;
        display: block;
        transform: scale(0.85);
      }
    }
  }

  .right-navigation {
    position: fixed;
    right: 1em;
    bottom: 1em;
    display: flex;
    gap: 8px;

    a {
      display: inline-flex;
      align-items: center;

      .icon {
        background: #faae33;
        color: #823513;
        border-radius: 50%;
        max-height: 45px;
        max-width: 45px;
        min-height: 45px;
        min-width: 45px;
        padding: 10px;
      }
    }
  }

  .textBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #faae33;
    z-index: 3;

    .p1 {
      text-transform: uppercase;
      font-size: 0.95rem;
      margin-top: 1.5rem;
      font-weight: 700;
      letter-spacing: .75px;
    }

    #heading {
      width: 100%;
      font-size: 3rem;
      letter-spacing: -3px;
      font-weight: 800;
      line-height: 5rem;
      border-bottom: 5px dotted #faae33;
      text-transform: uppercase;
      text-align: center;
    }

    h4 {
      font-size: 2rem;
      letter-spacing: -1px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
    }

    #box1, .box2 {
      width: 100%;
      height: 10%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: end;

      .p2 {
        width: 65%;
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 700;
      }

      .btn {
        padding: 1rem 1.5rem;
        width: 15rem;
        text-decoration: none;
        background: #faae33;
        color: #823513;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
      }
    }

    .box2 {
      margin-top: 90vh;
      height: 100vh;
      justify-content: space-between;

      h1 {
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 800;
        letter-spacing: -8px;
        line-height: 9rem;
        width: 80%;
      }

      p {
        width: 15%;
        font-size: .6rem;
        font-weight: 800;
        text-transform: uppercase;
        padding-bottom: 3rem;
      }
    }

    .box3, .rightDiv, .leftDiv {
      margin-top: 10rem;
      width: 100%;
      height: 65vh;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;

      h1 {
        text-transform: uppercase;
        font-size: 11rem;
        font-weight: 700;
        letter-spacing: -12px;
        line-height: 8.5rem;
      }

      .ingredients {
        img {
          width: 3rem;
          height: 3rem;
          padding: .5rem;
          border-radius: 50%;
          border: 1px solid #faae33;
          margin-left: .5rem;
        }
      }

      p {
        width: 20%;
        text-align: center;
        margin-top: 3rem;
      }
    }

    .rightDiv {
      .rightContent {
        position: relative;
        left: 30%;

        p {
          width: 15rem;
          margin-bottom: 1rem;
          text-align: start;
        }

        .btn {
          text-transform: uppercase;
          background: #faae33;
          color: #823513;
          font-size: .75rem;
          font-weight: 700;
          padding: 1rem 1.75rem;
          width: 5%;
          border-radius: 100em;
          letter-spacing: -1px;
        }
      }
    }

    .leftDiv {
      padding-left: 1rem;
      align-items: start;

      #subHeading {
        font-size: 9rem;
        font-weight: 800;
        letter-spacing: -12px;
        line-height: 7.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .page1 {
    .container {
      .canvasContainer {
        top: 14% !important;

        #frame {
          transform: scale(.75);
        }
      }
    }

    .textBox {
      padding-top: 6rem;

      .p1 {
        font-size: 1rem;
        margin-top: 1.5rem;
        letter-spacing: -1px;
      }

      #heading {
        font-size: 6.5rem;
        letter-spacing: -8px;
        line-height: 7rem;
      }

      h4 {
        font-size: 2.5rem;
        letter-spacing: -2px;
        font-weight: 800;
      }

      #box1, #box2 {
        height: 10.3%;

        .p2 {
          width: 33%;
          font-size: 0.85rem;
        }

        .btn {
          padding: 1rem 1.7rem;
          width: 10rem;
          font-size: 0.85rem;
          font-weight: 800;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .page1 {
    .container {
      .canvasContainer {
        top: 34% !important;

        #frame {
          transform: scale(1.3);
        }
      }
    }

    .textBox {
      padding-top: 6rem;

      .p1 {
        font-size: 1rem;
        margin-top: 1.5rem;
        letter-spacing: -1px;
      }

      #heading {
        font-size: 6.5rem;
        letter-spacing: -8px;
        line-height: 7rem;
      }

      h4 {
        font-size: 2.5rem;
        letter-spacing: -2px;
        font-weight: 800;
      }

      #box1, #box2 {
        height: 6%;

        .p2 {
          width: 18%;
          font-size: 0.65rem;
        }

        .btn {
          width: 7rem;
          font-size: 0.65rem;
        }
      }
    }
  }
}
