@mixin btnStyle() {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 14px;
  border-radius: 100em;
  background: #faae33;
  height: 3em;
  font-size: 1em;
}

@mixin relaProperty() {
  position: relative;
  z-index: 999;
}

.navbar {
  padding: 12px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  mix-blend-mode: normal;
  inset: 0% 0% auto;
  border-bottom: 5px dotted #faae33;

  .nav-left {
    .menu-btn {
      @include btnStyle();
      @include relaProperty();
    }

    .nav-menu {
      position: absolute;
      inset: 0% 0% auto;
      height: 100svh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #402011;
      transform: translateX(-100%);
      transition: transform 0.4s ease;

      &.open {
        transform: translateX(0%);
      }

      .desktop-link {
        border-top: 5px dotted #faae33;
        padding: 78px 16px 0 16px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        a {
          color: #faae33;
          text-transform: uppercase;
          font-size: 2.5em;
          letter-spacing: -0.07em;
        }
      }

      .bottom-link {
        padding: 10px 16px;
        border-top: 5px dotted #faae33;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: -0.09em;

        .bottom-link-menu,
        .location_email {
          a {
            color: #faae33;
          }
        }

        .bottom-link-menu {
          display: flex;
          flex-direction: column;
        }

        .location_email {
          margin-top: 28px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  .nav-mid {
    @include relaProperty();
  }

  .nav-right {
    @include relaProperty();

    .contact-btn {
      display: none;
    }

    .buy-btn {
      @include btnStyle();
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .nav-left {
      .menu-btn {
        display: none;
      }

      .nav-menu {
        position: static;
        height: auto;
        transform: translateX(0);
        background: none;

        .desktop-link {
          margin: 0;
          padding: 0;
          border: none;
          display: flex;
          flex-direction: row;
          gap: 8px;

          a {
            font-size: 1em;
            color: #402011;
            background: #faae33;
            padding: .9em .85em;
            border-radius: 100em;
          }

          a:nth-child(1),
          a:nth-child(5) {
            display: none;
          }
        }

        .bottom-link {
          display: none;
        }
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .contact-btn {
        display: block;
        color: #402011;
        background: #faae33;
        border-radius: 100em;
        text-transform: uppercase;
        padding: .9em .85em;
      }
    }
  }
}
